---
import MainLayout from "../layouts/MainLayout.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section4 from "../components/Section4.astro";
import Section5 from "../components/Section5.astro";
import Section6 from "../components/Section6.astro";
import Logo from "../components/Logo.astro";
import Form from "../components/Form.astro";
import { Image } from "astro:assets";
import Vand1 from "../assets/images/Vand1.png";
import Vand2 from "../assets/images/Vand2.png";
import Vand3 from "../assets/images/Vand3v.png";
import tandboerste_2 from "../assets/images/tandboerste_2.png";
import skraldepose_2 from "../assets/images/skraldepose_2.png";
import plastikpose_2 from "../assets/images/plastikpose_2.png";
import gaffel_2 from "../assets/images/gaffel_2.png";
import ballon_2 from "../assets/images/ballon_2.png";
import kop_2 from "../assets/images/kop_2.png";
import maelk_2 from "../assets/images/maelk_2.png";

const schemamarkup = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: [
    {
      "@type": "Question",
      name: "Hvad er plastikforurening?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "Når plastikmaterialer ophober sig i naturen, gør det skade på både miljøet, dyrelivet og menneskers sundhed!",
      },
    },
    {
      "@type": "Question",
      name: "Hvad er problemet med plastikforurening?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "Emballager og produkter forurener i alle dele af processen: fra udvindingen af olie, til produktion, transport, forbrug, og når de ender til forbrænding eller i naturen.",
      },
    },
    {
      "@type": "Question",
      name: "Hvad kan jeg gøre mod plastikforurening?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "Her er 6 råd om hvordan du i dagligdagen kan støtte kampen mod plastikforurening",
      },
    },
  ],
};
---

<MainLayout title="Plastic Change" description="Når plastikmaterialer ophober sig i naturen, gør det skade på både miljøet, dyrelivet og menneskers sundhed! Emballager og produkter forurener i alle dele af processen: fra udvindingen af olie, til produktion, transport, forbrug, og når de ender til forbrænding eller i naturen." ogtitle="#SingleUseSucks" ogdescription="Lær om plastikforurening og hør hvad du selv kan gøre i kampen mod plastikforurening">
  <article>
    <h1 class="md:text-8xl text-4xl text-center md:my-14 mt-7">
      <span class="text-[#FF1054]">#</span>SingleUseSucks
    </h1>
    <a href="#start"><h2 class="text-center underline text-[#FF1054] hover:text-[#07504F] md:text-3xl text-xl">Lær om plastikforurening</h2> </a>
    <section class="relative mb-96">
      <Image src={Vand1} alt="vand1" format="webp" class="w-full absolute md:top-8 top-8 z-0" />
      <Image src={Vand2} alt="vand2" format="webp" class="w-full absolute md:top-32 top-14 z-10" />
      <Image src={Vand3} alt="vand3" format="webp" class="w-full absolute md:top-72 top-28 z-20" />
      <Image src={skraldepose_2} alt="skraldepose" format="webp" class="w-full absolute top-9 md:w-auto md:top-6 z-[1] slide-right" />
      <Image src={plastikpose_2} alt="plastikpose" format="webp" class="w-full absolute top-16 md:w-auto md:top-48 z-[2] slide-top-2" />
      <Image src={gaffel_2} alt="gaffel" format="webp" class="w-full absolute top-32 md:w-auto md:top-96 z-[14] slide-left" />
      <Image src={ballon_2} alt="ballon" class="w-full absolute top-16 md:w-auto md:top-52 z-[4] slide-right" />
      <Image src={kop_2} alt="kop" class="w-full absolute top-36 md:w-auto md:top-[450px] z-[11] slide-top-2" />
      <Image src={maelk_2} alt="mælk" class="w-full absolute top-24 md:w-auto md:top-64 z-[12] slide-left-2" />
      <Image src={tandboerste_2} alt="tandbørste" class="w-full absolute top-20 md:w-auto md:top-64 z-[13] slide-top" />
    </section>
    <Section1 />
    <Section2 />
    <Section3 />
    <Section4 />
    <Section5 />
    <Logo />
    <Form />
    <Section6 />
  </article>
</MainLayout>

<script type="application/ld+json"></script>
