---
import { Image } from "astro:assets";
import dk_skrald from "../assets/images/dk-skrald.svg";
import eu_skrald from "../assets/images/eu-skrald.svg";
import skrald from "../assets/images/skrald.svg";
import medalje from "../assets/images/medalje.png";
import Button from "../components/Button.astro";
---

<section class="max-w-2xl mx-auto">
  <h2 class="">Danmark er europamestre i affald</h2>
  <p class="max-w-lg">
    Danmark er det land i Europa, der genererer mest affald pr. indbygger. På
    trods af, at vi i Danmark har et veludviklet affaldssystem, så ser vi stadig
    rigtig meget plastikforurening i den danske natur
  </p>
  <div class="flex justify-center items-center">
    <Image
      src={skrald}
      alt="skrald"
      class="size-32 hidden md:block"
      format="webp"
    />
    <h4 class="text-[#FF1054] hidden md:block">= 1kg</h4>
  </div>
</section>
<section class="grid grid-cols-2 justify-items-center mb-44">
  <article class="hidden md:block">
    <h4 class="text-[#FF1054]">Danmarks gennemsnit</h4>
    <Image src={dk_skrald} alt="skraldeforbrug i danmark" format="webp" />
    <p class="text-[128px] text-[#FF1054]">777 kg</p>
  </article>
  <article class="grid content-between">
    <div class="hidden md:block">
      <h4 class="text-[#FF1054]">Europas gennemsnit</h4>
      <Image src={eu_skrald} alt="skraldeforbrug i eu" format="webp" />
      <p class="text-[128px] text-[#FF1054]">450 kg</p>
    </div>
    <div>
      <div class="relative rotate-12">
        <Image
          src={skrald}
          alt="skrald"
          class="relative size-[40rem]"
          format="webp"
        />
        <Image
          src={medalje}
          alt="medalje"
          class="absolute top-56 right-52 w-48"
          format="webp"
        />
      </div>
      <p class="w-60 pb-5">
        <span
          >Synes du også det er <span class="text-[#FF1054]">HELT</span> galt? Gør
          en forskel og støt Plastic Change.</span
        >
      </p>
      <Button class="">Støt nu</Button>
    </div>
  </article>
</section>
